body {
    max-width: 960px;
    background-image: url("background.jpg");
}

ul {
    list-style-type: none;
    margin: auto;
    padding-left: 30px;
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    text-align: right;
    vertical-align: center;
    max-width: 960px;
}

li {
    display: inline-block;
    padding: 10px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #777777;
    text-decoration: none;
}

#logo {
    padding: 0;
    position: fixed;
    left: 15px;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 25px;
    text-align: left;
    max-width: 960px;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
}

.logoContainer {
    background-color: #4aaaa5;
    height: 80px;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0px;
    right: 700px;
    margin: auto;
}

.headerContainer {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    text-align: left;
    vertical-align: center;
    border-bottom: #cccccc solid 2px;

}


#centerContent {
    position: absolute;
    left: 0;
    right: 0;
    top: 125px;
    background-color: #ffffff;
    margin: auto;
    text-align: justify;
    vertical-align: middle;
    width: 960px;
    max-width: 960px;
    padding: 20px;
    overflow: auto;
    border: #dddddd 1px solid;
    line-height: 1.5;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    background-color: #666666;
    color: whitesmoke;
    border-top: 8px solid #4aaaa5;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.imgIndex {
    width: 25%;
    height: 25%;
    float: left;
    padding-right: 20px;
}

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#contentTitle {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    width: 100%;
    padding: 60px 20px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    resize: none;
}

button {
    background-color:#4aaaa5;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    
}

button:hover {
    background-color: #4CC2AF;
}

.imgSize {
    height: 25%;
    width: 25%;
}

#rightImg {
    height: 25%;
    width: 25%;
    margin-left: 20px;
}

.image {
    position: relative;
    width: 30%;
    height: 30%;
}

.h3Profile {
    position: relative;
    top: -80px;
    width: 400px;
    height: 40px;
    line-height: 40px;
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
}

.row {
    display: flex;
}

.column {
    margin: 15px;
    margin-left: 0px;
}